html
    head
        title= 'forma'
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    body    
        div.container
            h4.center Submit data
            div.row
                form(class="col s6 offset-s3" action="/", method="post")
                    div.row
                        div(class = "input-field col6")
                        
                            label(for="id") ID
                            br
                            input(placeholder = "", id="id", type="text" class="validate", name="id")
                    div.row    
                        div(class = "input-field col6")
                           
                            label(for="persons") Persons
                            br
                            input(placeholder = "", id="persons",type="text", class="validate", name="persons")
                    div.row
                        div(class = "input-field col6")
                            
                            label(for="code") Code
                            br
                            input(placeholder= "" id="code", type="text" class="validate" name="code")

                      
                    button(class="btn waves-effect waves-light" type="submit" name="action") Submit
                    
                    div.row.card-panel
                        ul
                            if errors
                                for err in errors
                                    li
                                        span.red-text #{err.msg}
                                p
                                    span.red-text Please, fill empty fields.
                            else
                                p
                                    span.green-text Success
            
            div.divider
                    
            h4.center Last five entries
            table
                thead
                    tr
                        th ID
                        th Persons
                        th Code
                tbody
                    for entry in entries
                        tr
                            td #{entry.id}
                            td #{entry.persons}
                            td #{entry.code}



